body {
    font-family: monospace;
        margin: 0;
        padding: 0;
    }
    
    header {
        background-color: #4cafaf;
        color: rgb(0, 0, 0);
        width: 100%;
        /* padding: 20px; */
    
    padding: 10px 0;
        justify-content: center;
        text-align: center;
    }
    nav{
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    
    nav ul li {
        display: inline;
        margin: 0 15px;
    }
    
    nav ul li a {
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    
    
    footer {
        text-align: center;
        /* padding: 10px; */
        background-color: #4cafaf;
        color: rgb(0, 0, 0);
        /* position: fixed; */
        width: 100%;
        bottom: 0;
        max-width: 1200px;
        padding: 30px 10px;
        margin-top: 30px;

    }
    
    
    
    
    h2 {
        text-align: center;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    table, th, td {
        border: 1px solid black;
        padding: 10px;
        text-align: center;
    }
    
    thead {
        background-color: #f2f2f2;
    }
    
    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    
    /* 
    add student section */
   
    .modal {
        display: none; 
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
    }
    
    .container {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
      }
      @media screen and (max-width: 767px) {
        .container {
          padding: 0 5%;
        }
      }
    .modal-content {
        background-color: #fff;
        margin: auto; 
        margin-top: 30px;
        padding: 33px; 
        border: 1px solid #888; 
        width: 500px; 
        max-height: 80%; 
        overflow-y: auto; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px; 
    }
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    button {
        padding: 10px 10px;
        font-size: 16px;
        margin-top: 10px; 
    }
    
    .form-input {
        margin-bottom: 10px; 
    }
    
    input[type="text"],
    input[type="number"] {
        width: 100%; 
        padding: 10px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
    }
    /* addd student finish */

    .search{
        margin: 50px 0;
        width: 280px;
        height: 40px;
        padding: 10px 15px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        outline: none;
        border: 1px solid  #0c7373;
        font-weight: 500;
      }
      ::placeholder{
        color: #0c7373;
      }
    
      /* Seçilmiş element üçün stil */
    .selected {
        background-color: #4CAF50; /* Yaşıl rəng */
        color: white;
        border-radius: 50%;
        padding: 50px;
    
      }
      .clickable-box {
        cursor: pointer;
        padding: 5px;
        margin: 10px;
        border: 1px solid #ddd;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.3s;
      }
      
      .clickable-box:hover {
        background-color: #f0f0f0;
      }